<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDijGr5v7_yJalIu-zdatreUwOlyB86HU</string>
	<key>GCM_SENDER_ID</key>
	<string>1069718294192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krishbothra.BPA-MobileApps</string>
	<key>PROJECT_ID</key>
	<string>bpa-v05</string>
	<key>STORAGE_BUCKET</key>
	<string>bpa-v05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069718294192:ios:4507681d9dd848e48cf575</string>
</dict>
</plist>